version: '3'
services:
  nginx:
    image: nginx
    container_name: ws_notification_api_nginx
    ports:
      - 8080:80
    volumes:
      - ${PWD}/nginx.conf:/etc/nginx/conf.d/default.conf
  redis:
    image: redis
    container_name: ws_notification_api_redis
    ports:
      - 6379:6379
  pod1:
    image: ws-notification-api:latest
    container_name: ws_notification_api_pod1
    ports:
      - 3000:3000
    environment:
      - HOST=pod1
      - REDIS_HOST=redis
  pod2:
    image: ws-notification-api:latest
    container_name: ws_notification_api_pod2
    ports:
      - 3001:3000
    environment:
      - HOST=pod2
      - REDIS_HOST=redis
